<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication11.Properties.Settings.DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Учёба\ЗКИ\Буцаев_Отчёт_24\WindowsFormsApplication11\WindowsFormsApplication11\Database.mdb;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>